@import "../../../../../assets/scss/partials/variables";

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    #details-title {
        color: $main-color;
        margin-bottom: 2rem;
    }

    .item {
        color: var(--text-color);
        margin-bottom: 1rem;

        label {
            font-weight: 600;
            margin-inline-end: 1rem;
        }
    }
}
