@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

@mixin user-select($value) {
    -webkit-user-select: $value;
    -moz-user-select: $value;
    user-select: $value;
}
