.light-theme {
    --text-color: #000000de;
    --background-color: #f5f6fa;
    --border-color: #d8dee4;
}

.dark-theme {
    --text-color: #ffffffb3;
    --background-color: #303030;
    --border-color: #ffffff1f;
}
